@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

/* fonts */
@layer components {
  .font-playfair-display {
    font-family: var(--font-playfair-display), serif;
    font-style: italic;
    font-weight: 400;
  }
}
